@media screen and (max-width: 480px) {
  .links{
    background:rgb(255, 255, 255);
  }
  #github_logo{
    position: absolute;
    left: 70px;
    transition:0.5s;
  }
  #github_logo:hover{
      transform: scale(1.1);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(96, 42, 161));
  }
  #youtube_logo{
    position: absolute;
    left: 135px;
    transition:0.5s;
  }
  #youtube_logo:hover{
      transform: scale(1.1);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(196, 37, 37));
  }
  #youtube_link{
    font-family: sans-serif;
    position: absolute;
    left: 125px;
    color: rgb(213, 28, 28);
  }
  #button {
    position: absolute;
    top: 100px;
    size: 100px;
  }
  #github_link{
    position: absolute;
    left: 65px;
    font-family: sans-serif;
    color: rgb(62, 14, 120);
  }
  #twitter_link{
    font-family: sans-serif;
    color: rgb(25, 124, 195);
  }
  #minecraft_logo_text{
    position: absolute;
    top: 180px;
    left: 120px;
    color:rgb(29, 57, 41);
  }
  #apps_logo_text{
    position: absolute;
    top: 180px;
    color:rgb(52, 74, 85);
  }
  #webgl_logo_text{
    position: absolute;
    top: 180px;
    left: 240px;
    color:rgb(29, 57, 41);
  }
  .apps_link {
    font-size: 24px;
    position: absolute;
    top: 210px;
    color: rgb(0, 0, 0);
  }
  .minecraft_link {
    font-size: 24px;
    position: absolute;
    top: 240px;
    color: rgb(0, 0, 0);
  }
  .links{
    border-bottom: 4px dotted rgb(0, 0, 0);
    padding-bottom: 15px;
  }
  .sitemap{
    font-family: sans-serif;
    background:rgb(250, 250, 250);
  }
  .sitemap > ul > li > ul > li > a{
    color:rgb(0, 0, 0);
  }
  .sitemap > ul > li > a{
    color:rgb(0, 0, 0);
  }
  a {
    text-decoration: none;
  }
}






@media screen and (min-width: 481px) {
  .links{
    background:rgb(255, 255, 255);
  }
  #button {
    position: absolute;
    top: 100px;
    size: 100px;
  }
  #twitter_logo{
    transition:0.5s;
  }
  #twitter_logo:hover{
      transform: scale(1.1);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(79, 176, 198));
  }
  #github_logo{
    position: absolute;
    left: 70px;
    transition:0.5s;
  }
  #github_logo:hover{
      transform: scale(1.1);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(96, 42, 161));
  }
  #youtube_logo{
    
    position: absolute;
    left: 135px;
    transition:0.5s;
  }
  #youtube_logo:hover{
      transform: scale(1.1);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(196, 37, 37));
  }
  #github_link{
    font-family: sans-serif;
    position: absolute;
    left: 67px;
    color: rgb(62, 14, 120);
  }
  #github_link:hover{
    filter: drop-shadow(1px 1px 15px rgb(96, 42, 161));
  }
  #twitter_link{
    font-family: sans-serif;
    color: rgb(25, 124, 195);
  }
  #twitter_link:hover{
    filter: drop-shadow(1px 1px 15px rgb(79, 176, 198));
  }
  _::-webkit-full-page-media,_:future,:root #youtube_link{
    font-family: sans-serif;
    color: rgb(255, 56, 56);
    left: 125px;
    color: rgb(213, 28, 28);
  }
  #youtube_link{
    font-family: sans-serif;
    position: absolute;
    left: 130px;
    color: rgb(213, 28, 28);
  }
  #youtube_link:hover{
    filter: drop-shadow(1px 1px 15px rgb(213, 59, 59));
  }
  #apps_logo{
    transition:0.5s;
  }
  #apps_logo:hover{
      transform: scale(1.05);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(105, 144, 164));
  }
  #minecraft_logo{
    transition:0.5s;
  }
  #minecraft_logo:hover{
      transform: scale(1.05);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(111, 131, 104));
  }
  #webgl_logo{
    transition:0.5s;
  }
  #webgl_logo:hover{
      transform: scale(1.05);
      transition:0.5s;
      filter: drop-shadow(1px 1px 15px rgb(153, 105, 105));
  }
  #minecraft_logo_text{
    position: absolute;
    top: 160px;
    left: 120px;
    color:rgb(29, 57, 41);
  }
  #apps_logo_text{
    position: absolute;
    top: 160px;
    color:rgb(52, 74, 85);
  }
  #webgl_logo_text{
    position: absolute;
    top: 160px;
    left: 240px;
    color:rgb(70, 42, 52);
  }
  .sitemap{
    font-family: sans-serif;
    background:rgb(250, 250, 250);
  }
  .sitemap_link:hover{
    /* filter: drop-shadow(1px 1px 15px rgb(153, 105, 105)); */
    color: rgb(55, 67, 57);
  }
  .links{
    border-bottom: 3px dotted rgb(0, 0, 0);

    padding-bottom: 15px;
  }

  .sitemap > ul > li > ul > li > a{
    color:rgb(0, 0, 0);
  }
  .sitemap > ul > li > a{
    color:rgb(0, 0, 0);
  }
  a{
    font-family: sans-serif;
    text-decoration: none;
  }
}