@media screen and (max-width: 480px) {
  /*  */
  * {
    float: none;
    position: static;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
  }
  .body {
    background-color: rgb(0, 0, 0);
  }
  .menu {
    z-index: 2;
    color: antiquewhite;
    font-family: serif;
    text-decoration: underline;
    position: absolute;
    top: -23px;
  }
  .back {
    z-index: 2;
    color: rgb(205, 243, 255);
    font-family: sans-serif;
    position: absolute;
    font-size: 20px;
    top: 8px;
    left: 310px;
  }
  
}
@media screen and (min-width: 481px) {
  /*  */
  * {
    float: none;
    position: static;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
  }
  .body {
    background-color: rgb(0, 0, 0);
  }
  .menu {
    z-index: 2;
    color: antiquewhite;
    font-family: serif;
    text-decoration: underline;
    position: absolute;
    top: -23px;
  }
  .back {
    z-index: 2;
    color: rgb(205, 243, 255);
    font-family: sans-serif;
    position: absolute;
    font-size: 20px;
    top: 8px;
    left: 90%;
  }
  .reverse_random_game{
    color: antiquewhite;
    font-family: serif;
    text-decoration: underline;
    position: absolute;
    top: 60px;
  }
}
