@media screen and (max-width: 480px) {
    #score {
        position: fixed;
        top: 240px;
    }
    #back {
        position: fixed;
        font-size: 16px;
        left: 230px;
    }
}

@media screen and (min-width: 481px) {
    #score {
        position: fixed;
        top: 450px;
        font-size: 32px;
    }
    #back {
        position: fixed;
        font-size: 23px;
        
        left: 680px;
    }
}